li{
    color:#0000cc;
    font-size: xx-large;
    background-color:grey;
    text-align: justify;
    margin: 20px 1000px 0px 30px;
    border-style:double;
    border-width: 15px;
    border-color: #0000cc;
    font-family: Helvetica;
}
body{
    background-image:url("https://ak6.picdn.net/shutterstock/videos/2361821/thumb/1.jpg?i10c=img.resize(height:160");
    background-size:cover;
}
.red{
    color:red !important;
}
a{
    font-size: x-large;
background-color:black;
color:blue;
border-style:inset;
border-color: grey;
}
p{
    color:black;
    font-size:large;
    font-style: oblique;
    font-family: Arial;
}
